<div>
    <h5 class="text-blue float-left">
        CRONOGRAMA FÍSICO FINANCEIRO DOS <strong>PROJETOS EM ANDAMENTO</strong>
        <small *ngIf="!cronograma?.etapas?.length">
            <p class="mt-5">Nenhum Projeto em Execução</p>
        </small>
    </h5>
    <aside class="form-inline float-right pb-2">
        <div class="form-group pr-4" [formGroup]="simulador">
            <label class="pr-2"><small>Simular Projeto:</small></label>
            <select class="form-control" (change)="selecionarProposta($event)" formControlName="propostaSelecionada">
                <option value="">Selecione</option>
                <option *ngFor="let proposta of propostas" [value]="proposta.value">{{ proposta.text }}</option>
            </select>
        </div>
        <div class="form-group pr-4" [formGroup]="simulador">
            <label class="pr-2"
                ><small
                    >Iniciar em:
                    <small><br /><i>ANO-MÊS</i></small>
                </small></label
            >
            <input
                type="month"
                min="{{ dataMinSimulacao }}"
                max="{{ dataMaxSimulacao }}"
                formControlName="mesInicioProposta"
                class="form-control" />
        </div>
        <div class="form-group pr-2">
            <button class="btn btn-outline-primary mr-1" [disabled]="simulacaoInvalida()" (click)="adicionarProposta()">
                <span *ngIf="!loading">Adicionar</span>
                <span *ngIf="loading">
                    <fa-icon [icon]="['fas', 'spinner']" [spin]="true" [size]="size" [style.color]="color"></fa-icon>
                    Carregando
                </span>
            </button>
            <button *ngIf="!!this.propostasSimuladas.length" class="btn btn-outline-danger" (click)="limparSimulacao()">
                <span>Limpar</span>
            </button>
        </div>
    </aside>
</div>
<div class="{{ loading ? 'loading' : '' }}" *ngIf="!!cronograma?.etapas?.length">
    <app-cronograma-financeiro [infoCronograma]="cronograma"></app-cronograma-financeiro>
</div>
