<div>
    <h5 class="text-blue float-left">CRONOGRAMA FÍSICO FINANCEIRO DOS <strong>PROJETOS EM ANDAMENTO</strong></h5>
    <aside class="form-inline float-right pb-2">
        <div class="form-group pr-4" [formGroup]="simulador">
            <label class="pr-2"><small>Simular Projeto:</small></label>
            <select class="form-control" (change)="selecionarProposta($event)" formControlName="propostaSelecionada">
                <option>Selecione</option>
                <option *ngFor="let proposta of propostas" [value]="proposta.value">{{ proposta.text }}</option>
            </select>
        </div>
        <div class="form-group pr-4" [formGroup]="simulador">
            <label class="pr-2"><small>Iniciar em:</small></label>
            <input
                type="month"
                min="{{ dataMinSimulacao }}"
                max="{{ dataMaxSimulacao }}"
                formControlName="mesInicioProposta"
                class="form-control" />
        </div>
        <div class="form-group pr-2">
            <button
                class="btn btn-outline-primary mr-1"
                [disabled]="!this.simulador.controls.mesInicioProposta.value || !this.simulador.controls.propostaSelecionada.value"
                (click)="adicionarProposta()">
                <span *ngIf="!loading">Adicionar</span>
                <span *ngIf="loading">
                    <fa-icon [icon]="['fas', 'spinner']" [spin]="true" [size]="size" [style.color]="color"></fa-icon>
                    Carregando
                </span>
            </button>
            <button *ngIf="!!this.propostasSimuladas.length" class="btn btn-outline-danger" (click)="limparSimulacao()">
                <span>Limpar</span>
            </button>
        </div>
    </aside>
</div>
<app-cronograma-financeiro [infoCronograma]="cronograma"></app-cronograma-financeiro>
