<div class="mb-3 text-right">
    <button class="btn btn-outline-primary" (click)="openCriterioAvaliacaoForm()" *ngIf="isAnalista">Critérios de Avaliação</button>
    <button class="btn btn-outline-primary ml-3" (click)="openCriterioAvaliacaoForm(true)" *ngIf="isGestor">
        Critérios de Avaliação (P&D)
    </button>
</div>
<div class="layout-topnav">
    <div class="tabs-nav-bar mb-3">
        <ul class="nav nav-bar-row nav-justified pt-3">
            <li class="nav-item">
                <a [class]="tab === 'pendente' ? 'nav-link active' : 'nav-link'" (click)="goToTab('pendente')">
                    <span class="menu-item-text">Análises Pendentes ({{ pendentes.length }})</span>
                </a>
            </li>
            <li class="nav-item">
                <a [class]="tab === 'concluida' ? 'nav-link active' : 'nav-link'" (click)="goToTab('concluida')">
                    <span class="menu-item-text">Análises Concluídas ({{ concluidas.length }})</span>
                </a>
            </li>
        </ul>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Demanda</th>
                <th>Fornecedor</th>
                <th>Data da Proposta</th>
                <th>Status da Análise</th>
                <th>Pontuação</th>
                <th>Responsável</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proposta of propostas">
                <td>{{ proposta.tituloDemanda }}</td>
                <td>{{ proposta.fornecedor }}</td>
                <td>{{ proposta.dataHora }}</td>
                <td>{{ proposta.statusAnalise }}</td>
                <td>{{ proposta.pontuacao }}</td>
                <td>{{ proposta.analistaResponsavel }}</td>
                <td class="text-right" *ngIf="proposta.statusAnalise === 'Aberta' || proposta.statusAnalise === 'Pendente'">
                    <button class="btn btn-primary" (click)="openAnaliseTecnica(proposta.propostaId)">Dar Parecer</button>
                </td>
                <td class="text-right" *ngIf="proposta.statusAnalise === 'Enviada' || proposta.statusAnalise === 'Concluída'">
                    <button class="btn btn-primary" (click)="openAnaliseTecnica(proposta.propostaId)">Ver Parecer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
