<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">ANÁLISE P&D DA PROPOSTA #{{ propostaId }}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>
<div class="modal-body position-relative">
    <ng-container *ngIf="!!analise && analise.id === 0">
        Nenhuma Análise P&D foi encontrada para a proposta #{{ propostaId }}
    </ng-container>
    <ng-container *ngIf="!!analise && analise.id > 0">
        Status da Análise: <strong>{{ analise.status }}</strong>

        <hr />

        <div class="col-12">
            <div class="row">
                <div class="col-11 pr-0 pl-0">
                    <h5>Originalidade</h5>
                    <div class="form-group">
                        <p innerHTML="{{ analise.originalidade }}"></p>
                    </div>
                </div>
                <div class="col-1 text-right p-0">
                    <h2 class="pb-3">
                        <b class="badge badge-secondary">
                            {{ analise.pontuacaoOriginalidade }}
                        </b>
                    </h2>
                </div>
            </div>
        </div>

        <hr />

        <div class="col-12">
            <div class="row">
                <div class="col-11 pr-0 pl-0">
                    <h5>Aplicabilidade</h5>
                    <div class="form-group">
                        <p innerHTML="{{ analise.aplicabilidade }}"></p>
                    </div>
                </div>
                <div class="col-1 text-right p-0">
                    <h2 class="pb-3">
                        <b class="badge badge-secondary">
                            {{ analise.pontuacaoAplicabilidade }}
                        </b>
                    </h2>
                </div>
            </div>
        </div>

        <hr />

        <div class="col-12">
            <div class="row">
                <div class="col-11 pr-0 pl-0">
                    <h5>Relevância</h5>
                    <div class="form-group">
                        <p innerHTML="{{ analise.relevancia }}"></p>
                    </div>
                </div>
                <div class="col-1 text-right p-0">
                    <h2 class="pb-3">
                        <b class="badge badge-secondary">
                            {{ analise.pontuacaoRelevancia }}
                        </b>
                    </h2>
                </div>
            </div>
        </div>

        <hr />

        <div class="col-12">
            <div class="row">
                <div class="col-11 pr-0 pl-0">
                    <h5>Razoabilidade de Custos</h5>
                    <div class="form-group">
                        <p innerHTML="{{ analise.razoabilidadeCustos }}"></p>
                    </div>
                </div>
                <div class="col-1 text-right p-0">
                    <h2 class="pb-3">
                        <b class="badge badge-secondary">
                            {{ analise.pontuacaoRazoabilidadeCustos }}
                        </b>
                    </h2>
                </div>
            </div>
            <hr />
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-11 pr-0 pl-0 form-group">
                    <label>Pontos Críticos</label>
                    <div class="form-group">
                        <p innerHTML="{{ analise.pontosCriticos }}"></p>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-11 pr-0 pl-0 form-group">
                    <label>Comentários</label>
                    <div class="form-group">
                        <p innerHTML="{{ analise.comentarios }}"></p>
                    </div>
                </div>
            </div>
            <hr />
        </div>

        <div class="col-12 pr-5 form-group d-flex align-items-center justify-content-between">
            <div class="flex-grow-1" *ngIf="!!analise.conceito">
                <label>Conceito</label>
                <div class="alert alert-secondary mr-6 d-flex justify-content-between">
                    <p>
                        Conceito do projeto em função da média de pontuação obtida: <strong>{{ analise.conceito }}</strong>
                    </p>
                    <button class="btn btn-lg btn-link ml-3" (click)="mostrarCriteriosConceito()">
                        <i class="ta-question"></i>
                    </button>
                </div>
            </div>
            <div class="pontuacao">
                <label>Pontuação Final:</label>
                <h1 class="m-0">
                    <div class="badge badge-primary badge-lg">{{ analise.pontuacaoFinal }}</div>
                </h1>
            </div>
        </div>

        <div class="col-12 text-right pr-0">
            <button class="btn btn-outline-primary" (click)="activeModal.close('close')">
                <i class="ta-arrow-left mr-2"></i><span class="mr-2">Voltar</span>
            </button>
        </div>
    </ng-container>
</div>
