<div>
    <h5 class="text-uppercase text-blue font-weight-normal my-4">CRONOGRAMA FÍSICO FINANCEIRO</h5>
    <div class="view">
        <div class="wrapper">
            <table class="cronograma">
                <thead>
                    <tr>
                        <th class="etapas fixo" rowspan="3">Etapas</th>
                        <th class="text-right light fixo pos">Ano</th>
                        <th *ngFor="let ano of cronograma.anos" [attr.colspan]="cronograma.meses[ano].meses.length" class="ano light">
                            {{ ano }}
                        </th>
                        <th class="produtos" rowspan="3">Produtos</th>
                    </tr>
                    <tr>
                        <th class="text-right light fixo pos" style="width: 120px">Mês Calendário</th>
                        <ng-container *ngFor="let ano of cronograma.anos">
                            <th class="mes light" *ngFor="let mes of cronograma.meses[ano].meses">{{ mes.calendario }}</th>
                        </ng-container>
                    </tr>
                    <tr>
                        <th class="text-right fixo pos">Mês Corrido</th>
                        <ng-container *ngFor="let ano of cronograma.anos">
                            <th class="mes" *ngFor="let mes of cronograma.corridos[ano]">{{ mes }}</th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody class="gantt">
                    <ng-container *ngFor="let etapa of cronograma.etapas">
                        <tr>
                            <td [attr.colspan]="cronograma.mesesEtapas.length + 4" class="summary-container"></td>
                        </tr>
                        <tr (click)="toggle(etapa.numero)" [ngClass]="etapa.aberto ? 'aberto' : ''">
                            <td colspan="2" class="etapa">
                                <div class="wrapper">
                                    <strong>{{ etapa.numero }}</strong> {{ etapa.etapa }}
                                </div>
                            </td>
                            <td class="mes" *ngFor="let mes of cronograma.mesesEtapas">
                                <span *ngIf="etapa.meses.includes(mes.corrido)">&nbsp;</span>
                            </td>
                            <td colspan="2" class="produto">
                                <div class="wrapper">
                                    {{ etapa.produto }}
                                </div>
                                <i *ngIf="!etapa.aberto" class="ta ta-arrow-down float-right"></i>
                                <i *ngIf="etapa.aberto" class="ta ta-arrow-up float-right"></i>
                            </td>
                        </tr>
                        <tr>
                            <td [attr.colspan]="cronograma.mesesEtapas.length + 4" class="summary-container">
                                <div [ngClass]="etapa.aberto ? 'summary aberto' : 'summary'">
                                    <div *ngIf="etapa.detalhe" class="wrapper-summary">
                                        <div class="detalhes">
                                            <div class="summary-detalhe">
                                                <label> Etapa </label>
                                                <span>
                                                    {{ etapa.detalhe.etapa }}
                                                </span>
                                            </div>
                                            <div class="summary-detalhe">
                                                <label> Produto </label>
                                                <span>
                                                    {{ etapa.detalhe.produto }}
                                                </span>
                                            </div>
                                            <div class="summary-detalhe">
                                                <label> Período </label>
                                                <span>
                                                    de <b>{{ etapa.detalhe.inicioPeriodo | date: 'MMMM/yyyy' }}</b> a
                                                    <b>{{ etapa.detalhe.fimPeriodo | date: 'MMMM/yyyy' }}</b>
                                                </span>
                                            </div>
                                        </div>
                                        <table class="table recursos">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2"></th>
                                                    <th rowspan="2" class="col-nome">Empresa Executora</th>
                                                    <th colspan="2">Recursos Humanos</th>
                                                    <th colspan="2">Serviços de Terceiros</th>
                                                    <th colspan="2">Materiais de Consumo</th>
                                                    <th colspan="2">Viagens e Diárias</th>
                                                    <th colspan="2">Auditoria Contábil e Financeira</th>
                                                    <th colspan="2">Outros</th>
                                                    <th rowspan="2" class="col-total">Total R$</th>
                                                    <th rowspan="2"></th>
                                                </tr>
                                                <tr>
                                                    <th class="col-qtd">Qtd.</th>
                                                    <th class="col-valor">Valor R$</th>
                                                    <th class="col-qtd">Qtd.</th>
                                                    <th class="col-valor">Valor R$</th>
                                                    <th class="col-qtd">Qtd.</th>
                                                    <th class="col-valor">Valor R$</th>
                                                    <th class="col-qtd">Qtd.</th>
                                                    <th class="col-valor">Valor R$</th>
                                                    <th class="col-qtd">Qtd.</th>
                                                    <th class="col-valor">Valor R$</th>
                                                    <th class="col-qtd">Qtd.</th>
                                                    <th class="col-valor">Valor R$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let recurso of etapa.detalhe.recursos">
                                                    <td></td>
                                                    <td>{{ recurso.empresa }}</td>
                                                    <td class="text-center">{{ recurso.qtdRH }}</td>
                                                    <td class="text-right">{{ recurso.valorRH.toLocaleString('pt-BR') }}</td>
                                                    <td class="text-center">{{ recurso.qtdServTerc }}</td>
                                                    <td class="text-right">{{ recurso.valorServTerc.toLocaleString('pt-BR') }}</td>
                                                    <td class="text-center">{{ recurso.qtdMatConsu }}</td>
                                                    <td class="text-right">{{ recurso.valorMatConsu.toLocaleString('pt-BR') }}</td>
                                                    <td class="text-center">{{ recurso.qtdViaDia }}</td>
                                                    <td class="text-right">{{ recurso.valorViaDia.toLocaleString('pt-BR') }}</td>
                                                    <td class="text-center">{{ recurso.qtdAudConFin }}</td>
                                                    <td class="text-right">{{ recurso.valorAudConFin.toLocaleString('pt-BR') }}</td>
                                                    <td class="text-center">{{ recurso.qtdOutros }}</td>
                                                    <td class="text-right">{{ recurso.valorOutros.toLocaleString('pt-BR') }}</td>
                                                    <td class="text-right">{{ recurso.total.toLocaleString('pt-BR') }}</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <tbody class="desembolsos">
                    <tr class="header">
                        <td colspan="2">Empresa Executora</td>
                        <td [attr.colspan]="cronograma.mesesEtapas.length">Desembolso por mês (R$)</td>
                        <td>Desembolso Total do Executor (R$)</td>
                    </tr>
                    <tr class="desembolso" *ngFor="let empresa of cronograma.empresas">
                        <td colspan="2" class="empresa">
                            {{ empresa.nome }}
                        </td>
                        <td class="mes rotated-value" *ngFor="let valor of empresa.desembolso">
                            <div>
                                <strong>{{ valor.toLocaleString('pt-BR') }}</strong>
                            </div>
                        </td>
                        <td class="total">{{ empresa.total.toLocaleString('pt-BR') }}</td>
                    </tr>
                </tbody>
                <tbody class="resumo">
                    <tr class="totais-grafico">
                        <td colspan="2"></td>
                        <td class="mes barra-grafico" *ngFor="let total of cronograma.totais">
                            <div class="barra" [attr.style]="'height: ' + (total / cronograma.maiorTotal) * 100 + 'px'"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="totais-mes">
                        <td colspan="2" class="label">Previsão de Desembolso Mensal (R$)</td>
                        <td class="mes rotated-value" *ngFor="let total of cronograma.totais">
                            <div>
                                <strong>{{ total.toLocaleString('pt-BR') }}</strong>
                            </div>
                        </td>
                        <td class="total">
                            <strong>{{ cronograma.totalGeral.toLocaleString('pt-BR') }}</strong>
                        </td>
                    </tr>
                    <tr class="totais-ano">
                        <td colspan="2" class="label">Previsão de Desembolso Anual (R$)</td>
                        <td *ngFor="let ano of cronograma.anos" [attr.colspan]="cronograma.meses[ano].meses.length" class="total">
                            {{ cronograma.meses[ano].meses.length > 2 ? cronograma.meses[ano].total.toLocaleString('pt-BR') : '' }}
                        </td>
                        <td colspan="2" class="total">
                            <strong>{{ cronograma.totalGeral.toLocaleString('pt-BR') }}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
