<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">Parecer de Análise Técnica da Proposta {{ propostaId }}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <i class="ta-cancel-circle"></i>
    </button>
</div>

<div class="modal-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quam ab quae nostrum nihil dicta omnis corrupti porro, animi
    explicabo error! Magnam impedit perferendis autem ipsa iste numquam aperiam voluptates. Doloribus dicta officia obcaecati hic nobis,
    totam doloremque et ut omnis. Quae ipsam, officiis voluptatibus ducimus quaerat ratione atque repellat id nemo illum ab, temporibus
    asperiores voluptatem maiores facilis, iusto ipsum accusantium provident magnam pariatur ut. Blanditiis, atque. Aspernatur quos sint
    officia corrupti repellat accusantium! Illum quidem quae veniam eligendi officia perferendis minus magnam neque excepturi obcaecati
    impedit autem, vel deserunt dolorum, repellat quisquam iste tempora, animi corporis ullam provident corrupti beatae fuga voluptatum. Est
    corrupti quidem, deserunt laboriosam aliquid quibusdam animi officia porro voluptatum, debitis delectus quae rem. Sit saepe minima optio
    similique. Necessitatibus fuga voluptates, assumenda nihil similique, deleniti ullam tempore doloremque cum libero alias omnis
    laudantium eum ipsum fugit illo? Velit, asperiores et, eum quia quasi assumenda ratione, porro deserunt consectetur rerum dolor sunt
    consequuntur quos? Officia eveniet ipsum ipsam voluptas earum voluptates laborum laudantium hic ducimus? Quasi similique molestias neque
    totam distinctio. Sapiente repudiandae animi nam voluptate expedita eligendi. Accusantium adipisci veniam inventore explicabo laudantium
    suscipit nihil magni odio est, culpa ipsam quia repellat vel nesciunt, reiciendis temporibus beatae soluta? Sunt quae, error dolore
    exercitationem voluptatum consequuntur. Non qui dolores.
</div>
