.bgi-tower {
    background: url('/assets/login-bg.png') no-repeat center,
        linear-gradient(186deg, rgb(23, 105, 119), rgb(46, 159, 179)) no-repeat center 100%;
    background-color: rgba(96, 47, 100, 1);
    background-size: cover, cover;
    display: block;
    height: 100%;
}
