.table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    border-collapse: separate;
    overflow: hidden;
    thead {
        th {
            border: none;
            color: $blueLight;
            line-height: 1.25em;
            font-size: 0.95em;
        }
    }
    tbody {
        tr {
            transition: all 0.5s ease-in-out;
            &:hover {
                background-color: #f5f5f5;
            }
        }
    }
}
