$cronograma-azul-escuro: #007984;
$cronograma-azul-claro: #e3eef0;
$cronograma-azul-mais-claro: #f3f6f7;
$cronograma-cinza-escuro: #999;
$cronograma-cinza-claro: #f0f0f0;
$cronograma-marrom: #c29361;
$cronograma-marrom-escuro: #8c6b4a;
$cronograma-branco: #fff;

.view {
    position: relative;
    overflow: hidden;
    width: calc(100vw - 380px);
    height: calc(100vh - 220px);
    overflow: auto;
    margin-top: 20px;
    & > .wrapper {
        position: absolute;
    }
}

table.cronograma {
    table-layout: fixed;
    > thead {
        z-index: 1;
        position: sticky;
        z-index: 2;
        top: 2px;
        transform: translateY(-2px);
        tr {
            background-color: $cronograma-branco;
        }
        th {
            background-color: $cronograma-azul-escuro;
            color: $cronograma-branco;
            border: 4px solid $cronograma-branco;
            outline: 2px solid $cronograma-branco;
            outline-offset: -2px;
            padding: 0.25rem 0.5rem;
            font-size: 12px;
            &.light {
                background-color: $cronograma-azul-claro;
                color: $cronograma-azul-escuro;
            }
            &.fixo {
                position: sticky;
                left: 0px;
                transform: translateX(-4px);
            }
            &.fixo.pos {
                position: sticky;
                transform: translateX(-2px);
                left: 322px;
            }
        }
        .etapas {
            width: 325px;
            font-size: 18px;
            padding-left: 1em;
            border-left: none;
        }
        .produtos {
            width: 448px;
            font-size: 18px;
            padding-left: 1em;
            border-right: none;
        }
        .mes {
            width: 32px;
            text-align: center;
            padding: 0;
            font-size: 12px;
        }
        .ano {
            text-align: center;
        }
    }
    & > thead.header-table {
        display: none;
    }
    &.fixed {
        & > thead {
            opacity: 0;
        }
        & > thead.header-table {
            display: block;
            opacity: 1;
            position: fixed;
            top: -5px;
        }
    }

    tbody.gantt {
        .botao-excluir-simulacao {
            button {
                position: absolute;
                z-index: 1;
                background-color: $cronograma-marrom-escuro;
                color: $cronograma-branco;
                border: none;
                font-size: 14px;
                cursor: pointer;
                &:hover {
                    background-color: $cronograma-marrom;
                }
                height: 20px;
                width: 20px;
                border-radius: 4px;
                padding: 0;
                top: 3px;
                right: 3px;
            }
        }
        tr {
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover td {
                background-color: $cronograma-azul-claro;
            }
            &.aberto td {
                background-color: $cronograma-azul-claro;
                &.etapa {
                    strong {
                        background-color: $cronograma-azul-escuro;
                        color: $cronograma-branco;
                    }
                }
            }
        }
        td {
            border: 2px solid $cronograma-branco;
            border-left: 4px solid $cronograma-branco;
            border-right: 4px solid $cronograma-branco;
            padding: 0.125em 0.25em;
            font-size: 14px;
            height: 30px;
            background-color: $cronograma-cinza-claro;
            &:first-child {
                position: sticky;
                left: 0;
                transform: translateX(-3px);
                outline: 4px solid $cronograma-branco;
                outline-offset: -2px;
            }
            .wrapper {
                margin-top: -0.125em;
                margin-left: -1em;
                width: 435px;
                overflow: hidden;
                text-overflow: ellipsis;
                strong {
                    background-color: $cronograma-cinza-escuro;
                    color: $cronograma-branco;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    text-align: center;
                    padding-top: 6px;
                    border-radius: 4px;
                }
                span {
                    margin-left: 10px;
                }
            }
            &.mes {
                padding: 0;
                span {
                    background-color: $cronograma-marrom;
                    display: flex;
                    height: 100%;
                    border-radius: 5px;
                }
                &.simulado {
                    span {
                        background-color: $cronograma-cinza-escuro;
                    }
                }
            }
        }
        .produto,
        .etapa {
            width: 300px;
            padding-left: 1em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            i {
                font-size: 20px;
                position: absolute;
                transform: translateX(-20px);
            }
        }
        .produto {
            width: 440px;
            .wrapper {
                padding-left: 1em;
                margin-left: -1em;
                width: 420px;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 20px;
            }
        }
        .summary-container {
            padding: 0;
            height: 0px;
            border: none;
            vertical-align: top;
            overflow: hidden;
            background-color: $cronograma-branco;
            .summary {
                overflow: hidden;
                max-width: 100%;
                background-color: $cronograma-branco;
                padding: 0em;
                border: none;
                align-items: stretch;
                justify-content: space-between;
                &.aberto {
                    height: var(--height-summary-etapa);
                    animation: slideDown 500ms ease-in-out;
                    animation-fill-mode: forwards;
                }
                &.fechado {
                    height: 0;
                }
                .detalhes {
                    display: flex;
                    width: 100%;
                    gap: 10px;
                    padding: 2px;
                    margin-bottom: 8px;
                    margin-top: 5px;
                    .summary-detalhe {
                        width: 100%;
                        background-color: $cronograma-azul-claro;
                        border-radius: 3px;
                        padding: 15px;
                        .field {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-bottom: 8px;
                        }
                        label {
                            font-size: 14px;
                            color: $cronograma-azul-escuro;
                            font-weight: 600;
                            display: block;
                        }
                        span {
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
                table.recursos {
                    box-shadow: none;
                    tr {
                        background-color: $cronograma-branco;
                        &:last-child {
                            font-weight: bold;
                        }
                    }
                    th {
                        background-color: #c7dee0;
                        border: none;
                        color: $cronograma-azul-escuro;
                        line-height: 12px;
                        padding: 5px 10px;
                        vertical-align: bottom;
                    }
                    tbody {
                        td {
                            background-color: $cronograma-branco;
                            border-bottom: solid 1px $cronograma-cinza-claro;
                            height: 20px;
                        }
                    }
                }
                .col-nome {
                    width: 250px;
                }
                .col-total {
                    width: 50px;
                    text-align: center;
                }
                .col-qtd {
                    width: 50px;
                }
                .col-valor {
                    width: 80px;
                    text-align: right;
                }
            }
        }
    }
    .divisor {
        background-color: $cronograma-branco !important;
    }
    tbody.desembolsos {
        margin-top: 50px;
        .header {
            td {
                background-color: $cronograma-azul-escuro;
                color: $cronograma-branco;
                font-weight: bold;
                padding: 5px 10px;
                border-top: 30px solid $cronograma-branco;
            }
        }
        td {
            border: solid 5px $cronograma-branco;
            background-color: #c7dee0;
            &.empresa {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                position: sticky;
                left: 0;
                transform: translateX(-3px);
                z-index: 1;
                outline: 4px solid $cronograma-branco;
                outline-offset: -2px;
                caption {
                    background-color: $cronograma-azul-escuro;
                    color: $cronograma-branco;
                    font-weight: bold;
                    padding: 5px 10px;
                    float: right;
                    transform: rotate(270deg);
                    position: absolute;
                    top: 38px;
                    right: -32px;
                    width: 100px;
                    text-align: center;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    &.executado {
                        top: 152px;
                    }
                }
            }
        }
        tr.desembolso {
            border: 5px solid $cronograma-branco;
        }
        tr.executado td.mes {
            background-color: $cronograma-azul-claro;
        }

        .empresa {
            padding: 1em;
            font-size: 16px;
            font-weight: bold;
        }
        .total {
            padding: 1em;
            text-align: right;
            font-size: 16px;
            font-weight: bold;
            &.projeto {
                background-color: $cronograma-branco;
                padding: 0;
                border-width: 0;
                table {
                    &.total-planejado tr:first-child td.value {
                        border-top-right-radius: 10px;
                    }
                    &.total-executado tr:last-child td.value {
                        border-bottom-right-radius: 10px;
                    }
                    tr:first-child {
                        td {
                            background-color: $cronograma-azul-claro;
                            color: $cronograma-marrom-escuro;
                        }
                    }
                    td {
                        border: none;
                        &.header {
                            font-size: 0.85em;
                            width: 120px;
                            color: $cronograma-azul-escuro !important;
                        }
                        &.value {
                            padding: 0.5em 1em;
                            .percent {
                                float: left;
                                margin-left: 2em;
                                width: 4em;
                                text-align: center;
                                background-color: $cronograma-cinza-claro;
                                border-radius: 5px;
                                font-size: 0.85em;
                            }
                        }
                    }
                    width: 100%;
                    height: 110px;
                    .label {
                        width: 32px;
                        position: relative;
                        background-color: $cronograma-azul-escuro !important;
                        caption {
                            transform: rotate(270deg);
                            position: absolute;
                            text-align: center;
                            width: 32px;
                            color: $cronograma-branco;
                        }
                    }
                }
            }
        }
    }
    .rotated-value {
        height: 110px;
        white-space: nowrap;
        div {
            transform: rotate(-90deg) translateX(-25px);
            width: 25px;
        }
    }
    tbody.resumo {
        .label {
            padding: 1em;
        }
        .total {
            padding: 1em;
            text-align: right;
            &.geral {
                font-size: 1.5em;
            }
            &.ano {
                padding: 0px;
                text-align: center;
            }
        }
        td {
            border: 4px solid $cronograma-branco;
            background-color: $cronograma-azul-escuro;
            color: $cronograma-branco;
            font-weight: bold;
            &:first-child {
                position: sticky;
                left: 0;
                z-index: 1;
                outline: 4px solid $cronograma-branco;
                outline-offset: -2px;
            }
        }
        .totais-ano {
            td {
                background-color: #c7dee0;
                color: $cronograma-azul-escuro;
            }
        }
        .totais-mes.executado {
            td {
                background-color: #c7dee0;
                color: $cronograma-azul-escuro;
            }
        }
        .totais-grafico {
            td {
                background-color: $cronograma-branco;
                .barra {
                    background-color: $cronograma-marrom;
                    border-radius: 4px;
                    width: 22px;
                    margin: 0 auto;
                }
            }
            .barra-grafico {
                vertical-align: baseline;
            }
        }
        tr.planejado {
            td:first-child {
                border-top-left-radius: 10px;
            }
            td:last-child {
                border-top-right-radius: 15px;
            }
        }
        tr.executado {
            td:first-child {
                border-bottom-left-radius: 10px;
            }
            td:last-child {
                border-bottom-right-radius: 15px;
            }
        }
    }
    margin-left: -5px;
}

@keyframes slideDown {
    0% {
        height: 0;
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        height: var(--height-summary-etapa);
        opacity: 1;
        transform: translateY(0px);
    }
}
