<div>
    <div class="view">
        <div class="wrapper">
            <table class="cronograma">
                <ng-container *ngIf="!!cronograma?.etapas?.length">
                    <thead>
                        <tr>
                            <th class="etapas fixo" [attr.rowspan]="isConsolidado ? 2 : 3">{{ isConsolidado ? 'Projetos' : 'Etapas' }}</th>
                            <th class="text-right light fixo pos">Ano</th>
                            <th *ngFor="let ano of cronograma.anos" [attr.colspan]="cronograma.meses[ano].meses.length" class="ano light">
                                {{ ano }}
                            </th>
                            <th class="produtos" [attr.rowspan]="isConsolidado ? 2 : 3">{{ isConsolidado ? '' : 'Produtos' }}</th>
                        </tr>
                        <tr>
                            <th class="text-right light fixo pos" style="width: 120px">Mês Calendário</th>
                            <ng-container *ngFor="let ano of cronograma.anos">
                                <th class="mes light" *ngFor="let mes of cronograma.meses[ano].meses">{{ mes.calendario }}</th>
                            </ng-container>
                        </tr>
                        <tr *ngIf="!isConsolidado">
                            <th class="text-right fixo pos">Mês Corrido</th>
                            <ng-container *ngFor="let ano of cronograma.anos">
                                <th class="mes" *ngFor="let mes of cronograma.corridos[ano]">{{ mes }}</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody class="gantt">
                        <ng-container *ngFor="let etapa of cronograma.etapas">
                            <tr>
                                <td [attr.colspan]="cronograma.mesesEtapas.length + 4" class="summary-container"></td>
                            </tr>
                            <tr (click)="toggle(etapa.numero)" [ngClass]="etapa.aberto || etapa.produto === 'Simulação' ? 'aberto' : ''">
                                <td colspan="2" class="etapa">
                                    <div class="wrapper">
                                        <strong *ngIf="!isConsolidado">{{ etapa.numero }}</strong>
                                        <span>
                                            <small *ngIf="etapa.produto === 'Simulação'" class="float-right">
                                                <i class="ta-lamp"></i>
                                            </small>
                                            {{ etapa.etapa }}
                                        </span>
                                    </div>
                                </td>
                                <td
                                    class="{{ etapa.produto === 'Simulação' ? 'mes simulado' : 'mes' }}"
                                    *ngFor="let mes of cronograma.mesesEtapas">
                                    <span *ngIf="etapa.meses.includes(mes.corrido)">&nbsp;</span>
                                </td>
                                <td colspan="2" class="produto">
                                    <div class="wrapper">
                                        {{ etapa.produto }}
                                    </div>
                                    <i *ngIf="!etapa.aberto && !isConsolidado" class="ta ta-arrow-down float-right"></i>
                                    <i *ngIf="etapa.aberto && !isConsolidado" class="ta ta-arrow-up float-right"></i>
                                </td>
                            </tr>
                            <tr>
                                <td [attr.colspan]="cronograma.mesesEtapas.length + 4" class="summary-container etapa-{{ etapa.numero }}">
                                    <div [ngClass]="etapa.aberto ? 'summary aberto' : 'summary fechado'">
                                        <div *ngIf="etapa.detalhe" class="wrapper-summary">
                                            <div class="detalhes">
                                                <div class="summary-detalhe">
                                                    <label> Etapa </label>
                                                    <span>
                                                        <h5>{{ etapa.detalhe.etapa }}</h5>
                                                    </span>
                                                    <span>
                                                        <h6 class="text-muted">
                                                            de <b>{{ etapa.detalhe.inicioPeriodo | date : 'MMMM/yyyy' }}</b> a
                                                            <b>{{ etapa.detalhe.fimPeriodo | date : 'MMMM/yyyy' }}</b>
                                                        </h6>
                                                    </span>
                                                </div>
                                                <div class="summary-detalhe">
                                                    <label> Produto </label>
                                                    <span>
                                                        <h5>{{ etapa.detalhe.produtoTitulo }}</h5>
                                                        <p>{{ etapa.detalhe.produtoDescricao }}</p>
                                                    </span>
                                                    <label> Tipo: {{ etapa.detalhe.produtoTipo }} </label>
                                                    <span>
                                                        <p>{{ etapa.detalhe.produtoTipoDetalhado }}</p>
                                                    </span>
                                                </div>
                                            </div>
                                            <table class="table recursos">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2"></th>
                                                        <th rowspan="2" class="col-nome">Empresa Executora</th>
                                                        <th colspan="2">Recursos Humanos</th>
                                                        <th colspan="2">Serviços de Terceiros</th>
                                                        <th colspan="2">Materiais de Consumo</th>
                                                        <th colspan="2">Materiais Permanentes e Equipamentos</th>
                                                        <th colspan="2">Viagens e Diárias</th>
                                                        <th colspan="2">Auditoria Contábil e Financeira</th>
                                                        <th colspan="2">Startups</th>
                                                        <th colspan="2">Outros</th>
                                                        <th rowspan="2" class="col-total">Total R$</th>
                                                        <th rowspan="2"></th>
                                                    </tr>
                                                    <tr>
                                                        <th class="col-qtd">Qtd.</th>
                                                        <th class="col-valor">Valor R$</th>
                                                        <th class="col-qtd">Qtd.</th>
                                                        <th class="col-valor">Valor R$</th>
                                                        <th class="col-qtd">Qtd.</th>
                                                        <th class="col-valor">Valor R$</th>
                                                        <th class="col-qtd">Qtd.</th>
                                                        <th class="col-valor">Valor R$</th>
                                                        <th class="col-qtd">Qtd.</th>
                                                        <th class="col-valor">Valor R$</th>
                                                        <th class="col-qtd">Qtd.</th>
                                                        <th class="col-valor">Valor R$</th>
                                                        <th class="col-qtd">Qtd.</th>
                                                        <th class="col-valor">Valor R$</th>
                                                        <th class="col-qtd">Qtd.</th>
                                                        <th class="col-valor">Valor R$</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let recurso of etapa.detalhe.recursos">
                                                        <td></td>
                                                        <td>{{ recurso.empresa }}</td>
                                                        <td class="text-center">{{ recurso.qtdRH ? recurso.qtdRH : '' }}</td>
                                                        <td class="text-right">
                                                            {{ recurso.valorRH ? (recurso.valorRH | number : '1.0-0') : '' }}
                                                        </td>
                                                        <td class="text-center">{{ recurso.qtdServTerc ? recurso.qtdServTerc : '' }}</td>
                                                        <td class="text-right">
                                                            {{ recurso.valorServTerc ? (recurso.valorServTerc | number : '1.0-0') : '' }}
                                                        </td>
                                                        <td class="text-center">{{ recurso.qtdMatConsu ? recurso.qtdMatConsu : '' }}</td>
                                                        <td class="text-right">
                                                            {{ recurso.valorMatConsu ? (recurso.valorMatConsu | number : '1.0-0') : '' }}
                                                        </td>
                                                        <td class="text-center">{{ recurso.qtdMatPerm ? recurso.qtdMatPerm : '' }}</td>
                                                        <td class="text-right">
                                                            {{ recurso.valorMatPerm ? (recurso.valorMatPerm | number : '1.0-0') : '' }}
                                                        </td>
                                                        <td class="text-center">{{ recurso.qtdViaDia ? recurso.qtdViaDia : '' }}</td>
                                                        <td class="text-right">
                                                            {{ recurso.valorViaDia ? (recurso.valorViaDia | number : '1.0-0') : '' }}
                                                        </td>
                                                        <td class="text-center">{{ recurso.qtdAudConFin ? recurso.qtdAudConFin : '' }}</td>
                                                        <td class="text-right">
                                                            {{ recurso.valorAudConFin ? (recurso.valorAudConFin | number : '1.0-0') : '' }}
                                                        </td>
                                                        <td class="text-center">{{ recurso.qtdStartups ? recurso.qtdStartups : '' }}</td>
                                                        <td class="text-right">
                                                            {{ recurso.valorStartups ? (recurso.valorStartups | number : '1.0-0') : '' }}
                                                        </td>
                                                        <td class="text-center">{{ recurso.qtdOutros ? recurso.qtdOutros : '' }}</td>
                                                        <td class="text-right">
                                                            {{ recurso.valorOutros ? (recurso.valorOutros | number : '1.0-0') : '' }}
                                                        </td>
                                                        <td class="text-right">
                                                            {{ recurso.total | number : '1.0-0' }}
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                    <tbody class="desembolsos">
                        <tr class="header">
                            <td colspan="2">Empresa Executora</td>
                            <td [attr.colspan]="cronograma.mesesEtapas.length">Desembolso por mês (R$)</td>
                            <td>Desembolso Total do Executor (R$)</td>
                        </tr>
                        <ng-container *ngIf="isCronogramaProjeto">
                            <ng-container *ngFor="let empresa of cronograma.empresas">
                                <tr>
                                    <td class="divisor"></td>
                                </tr>
                                <tr class="desembolso">
                                    <td colspan="2" rowspan="2" class="empresa">
                                        {{ empresa.nome }}
                                        <caption class="planejado">
                                            Planejado
                                        </caption>
                                        <caption class="executado">
                                            Executado
                                        </caption>
                                    </td>
                                    <td class="mes rotated-value" *ngFor="let valor of empresa.desembolso">
                                        <div>
                                            <strong>{{ valor | number : '1.0-0' }}</strong>
                                        </div>
                                    </td>
                                    <td class="total projeto">
                                        <table class="total-planejado">
                                            <tr>
                                                <td rowspan="2" class="label">
                                                    <caption>
                                                        Planejado
                                                    </caption>
                                                </td>
                                                <td class="header">Até {{ empresa.nomeUltimoMes }}</td>
                                                <td class="value">
                                                    <span class="percent"> {{ empresa.porcentagemPlanejado }}%</span>
                                                    {{ empresa.totalPlanejado | number : '1.0-0' }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="header">Planejado Final</td>
                                                <td class="value">
                                                    <span class="percent">100%</span>
                                                    {{ empresa.total | number : '1.0-0' }}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="executado" *ngIf="!!empresa.executado">
                                    <td class="mes rotated-value" *ngFor="let valor of empresa.executado">
                                        <div>
                                            <strong>{{ valor | number : '1.0-0' }}</strong>
                                        </div>
                                    </td>
                                    <td class="total projeto">
                                        <table class="total-executado">
                                            <tr>
                                                <td rowspan="2" class="label">
                                                    <caption>
                                                        Executado
                                                    </caption>
                                                </td>
                                                <td class="header">Até {{ empresa.nomeUltimoMes }}</td>
                                                <td class="value">
                                                    <span class="percent"> {{ empresa.porcentagemExecutado }}%</span>
                                                    {{ empresa.totalExecutado | number : '1.0-0' }}
                                                </td>
                                            </tr>
                                            <tr class="projetado">
                                                <td class="header">Projetado Final</td>
                                                <td class="value">
                                                    <span class="percent">100%</span>
                                                    {{ empresa.totalProjetado | number : '1.0-0' }}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <!--tr class="desembolso" *ngIf="!isCronogramaProjeto">
                        <td colspan="2" rowspan="2" class="empresa">{{ empresa.nome }}</td>
                        <td class="mes rotated-value" *ngFor="let valor of empresa.desembolso">
                            <div>
                                <strong>{{ valor | number : '1.0-0' }}</strong>
                            </div>
                        </td>
                        <td class="total">{{ empresa.total | number : '1.0-0' }}</td>
                    </tr-->
                    </tbody>
                    <tbody class="resumo">
                        <tr class="totais-grafico">
                            <td colspan="2"></td>
                            <td class="mes barra-grafico" *ngFor="let total of cronograma.totais">
                                <div class="barra" [attr.style]="'height: ' + (total / cronograma.maiorTotal) * 100 + 'px'"></div>
                            </td>
                            <td></td>
                        </tr>

                        <ng-container *ngIf="isCronogramaProjeto">
                            <tr class="totais-mes planejado">
                                <td colspan="2" class="label">Previsão de Desembolso Mensal (R$)</td>
                                <td class="mes rotated-value" *ngFor="let total of cronograma.totais">
                                    <div>
                                        <strong>{{ total | number : '1.0-0' }}</strong>
                                    </div>
                                </td>
                                <td class="total geral">
                                    <strong>{{ cronograma.totalGeral | number : '1.0-0' }}</strong>
                                </td>
                            </tr>
                            <tr class="totais-mes executado">
                                <td colspan="2" class="label">Desembolso Mensal Executado (R$)</td>
                                <td class="mes rotated-value" *ngFor="let total of cronograma.totaisExecutado">
                                    <div>
                                        <strong>{{ total | number : '1.0-0' }}</strong>
                                    </div>
                                </td>
                                <td class="total geral">
                                    <strong>{{ cronograma.totalGeralExecutado | number : '1.0-0' }}</strong>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!isCronogramaProjeto">
                            <tr class="totais-mes">
                                <td colspan="2" class="label">Previsão de Desembolso Mensal (R$)</td>
                                <td class="mes rotated-value" *ngFor="let total of cronograma.totais">
                                    <div>
                                        <strong>{{ total | number : '1.0-0' }}</strong>
                                    </div>
                                </td>
                                <td class="total geral">
                                    <strong>{{ cronograma.totalGeral | number : '1.0-0' }}</strong>
                                </td>
                            </tr>
                            <tr class="totais-ano">
                                <td colspan="2" rowspan="2" class="label">Previsão de Desembolso Anual (R$)</td>
                                <td
                                    *ngFor="let ano of cronograma.anos"
                                    [attr.colspan]="cronograma.meses[ano].meses.length"
                                    class="total ano">
                                    {{ cronograma.meses[ano].meses.length > 2 ? (cronograma.meses[ano].total | number : '1.0-0') : '' }}
                                </td>
                                <td colspan="2" class="total">
                                    <strong>{{ cronograma.totalGeral | number : '1.0-0' }}</strong>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </ng-container>
                <tbody class="resumo">
                    <ng-container *ngIf="mostrarSaldoAtual">
                        <tr class="totais-mes saldo">
                            <td colspan="2" class="label">Saldo em conta</td>
                            <td [attr.colspan]="cronograma.mesesEtapas.length + 1" class="total geral">
                                <section>
                                    <div>
                                        <small>Saldo Atual: </small>
                                        <strong>{{ cronograma.saldoAtual | number : '1.0-0' }}</strong>
                                    </div>
                                    <div>
                                        <small>Saldo Projetado: </small>
                                        <strong>{{ cronograma.saldoAtual - cronograma.totalGeralExecutado | number : '1.0-0' }}</strong>
                                    </div>
                                </section>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <tbody class="resumo">
                    <tr class="totais-mes saldo">
                        <td colspan="2" class="label">Valores de Contrapartida (R$)</td>
                        <td class="mes rotated-value" *ngFor="let valor of cronograma.contrapartidas">
                            <div>
                                <strong>{{ valor | number : '1.0-0' }}</strong>
                            </div>
                        </td>
                        <td class="total geral pr-3">
                            <strong>{{ cronograma.totalContrapartidas | number : '1.0-0' }}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
