<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">Parecer de Análise P&D da Proposta #{{ propostaId }}</div>
    <button class="btn btn-sm btn-primary" (click)="voltar()"><i class="ta-arrow-left"></i> Voltar</button>
</div>

<div class="`form-body pt-5" *ngIf="!!analise" [formGroup]="form">
    <div class="col-12 pt-3">
        <h3 class="pb-3">Originalidade</h3>
        <div class="row">
            <div class="col-2 form-group">
                <label>Pontuação</label>
                <input
                    type="number"
                    step="1"
                    max="5"
                    min="0"
                    class="form-control text-right"
                    formControlName="pontuacaoOriginalidade"
                    [readonly]="readonly"
                    (blur)="calcular()" />
            </div>
            <div class="col-10 form-group">
                <label>Justificativa</label>
                <ckeditor [editor]="editor" [config]="configEditor" formControlName="originalidade" *ngIf="!readonly"></ckeditor>
                <div class="alert alert-secondary" role="alert" *ngIf="readonly" innerHTML="{{ originalidade }}"></div>
            </div>
        </div>
        <hr />
    </div>

    <div class="col-12 pt-3">
        <h3 class="pb-3">Aplicabilidade</h3>
        <div class="row">
            <div class="col-2 form-group">
                <label>Pontuação</label>
                <input
                    type="number"
                    step="1"
                    max="5"
                    min="0"
                    class="form-control text-right"
                    formControlName="pontuacaoAplicabilidade"
                    [readonly]="readonly"
                    (blur)="calcular()" />
            </div>
            <div class="col-10 form-group">
                <label>Justificativa</label>
                <ckeditor [editor]="editor" [config]="configEditor" formControlName="aplicabilidade" *ngIf="!readonly"></ckeditor>
                <div class="alert alert-secondary" role="alert" *ngIf="readonly" innerHTML="{{ aplicabilidade }}"></div>
            </div>
        </div>
        <hr />
    </div>

    <div class="col-12 pt-3">
        <h3 class="pb-3">Relevância</h3>
        <div class="row">
            <div class="col-2 form-group">
                <label>Pontuação</label>
                <input
                    type="number"
                    step="1"
                    max="5"
                    min="0"
                    class="form-control text-right"
                    formControlName="pontuacaoRelevancia"
                    [readonly]="readonly"
                    (blur)="calcular()" />
            </div>
            <div class="col-10 form-group">
                <label>Justificativa</label>
                <ckeditor [editor]="editor" [config]="configEditor" formControlName="relevancia" *ngIf="!readonly"></ckeditor>
                <div class="alert alert-secondary" role="alert" *ngIf="readonly" innerHTML="{{ relevancia }}"></div>
            </div>
        </div>
        <hr />
    </div>

    <div class="col-12 pt-3">
        <h3 class="pb-3">Razoabilidade dos Custos</h3>
        <div class="row">
            <div class="col-2 form-group">
                <label>Pontuação</label>
                <input
                    type="number"
                    step="1"
                    max="5"
                    min="0"
                    class="form-control text-right"
                    formControlName="pontuacaoRazoabilidadeCustos"
                    [readonly]="readonly"
                    (blur)="calcular()" />
            </div>
            <div class="col-10 form-group">
                <label>Justificativa</label>
                <ckeditor [editor]="editor" [config]="configEditor" formControlName="razoabilidadeCustos" *ngIf="!readonly"></ckeditor>
                <div class="alert alert-secondary" role="alert" *ngIf="readonly" innerHTML="{{ razoabilidadeCustos }}"></div>
            </div>
        </div>
        <hr />
    </div>

    <div class="col-12 form-group">
        <label>Pontos Críticos</label>
        <ckeditor [editor]="editor" [config]="configEditor" *ngIf="!readonly" formControlName="pontosCriticos"></ckeditor>
        <div class="alert alert-secondary" role="alert" *ngIf="readonly" innerHTML="{{ analise.pontosCriticos }}"></div>
    </div>

    <div class="col-12 form-group">
        <label>Comentários</label>
        <ckeditor [editor]="editor" [config]="configEditor" *ngIf="!readonly" formControlName="comentarios"></ckeditor>
        <div class="alert alert-secondary" role="alert" *ngIf="readonly" innerHTML="{{ analise.comentarios }}"></div>
    </div>
    <hr />

    <div class="col-12 pr-5 form-group d-flex align-items-center justify-content-between">
        <div class="flex-grow-1" *ngIf="!!analise.conceito">
            <label>Conceito</label>
            <div class="alert alert-secondary mr-6 d-flex justify-content-between">
                <p>
                    Conceito do projeto em função da média de pontuação obtida: <strong>{{ analise.conceito }}</strong>
                </p>
                <button class="btn btn-lg btn-link ml-3" (click)="mostrarCriteriosConceito()">
                    <i class="ta-question"></i>
                </button>
            </div>
        </div>
        <div>
            <label class="pt-2">Pontuação Final:</label>
            <h1 class="m-0">
                <div class="badge badge-primary badge-lg">{{ form.controls['pontuacaoFinal'].value }}</div>
            </h1>
        </div>
    </div>
    <hr />
    <div class="form-group col-12 text-right pt-3 pb-6" *ngIf="!readonly">
        <button type="button" class="btn btn-outline-primary mr-3" (click)="salvar()"><i class="ta-save"></i> Salvar Dados</button>
        <button type="button" class="btn btn-primary mr-3" [disabled]="form.invalid" (click)="enviar()">
            <i class="ta-ok"></i> Enviar Análise
        </button>
    </div>
</div>
