.nome-demanda {
    padding: 0.5em 1em 0.25em 1em;
    background-color: #007984;
}
.titulo-detalhe-proposta {
    small {
        font-size: 0.8em;
        color: #fff;
        font-weight: bolder;
        display: block;
    }
}
