<app-sidebar>
    <div class="bg-blue-light text-white">
        <div class="nome-demanda">ID: {{ proposta.captacaoId | pad: '0':3 }} - {{ proposta.captacao }}</div>
        <div class="p-3">
            <div class="titulo-detalhe-proposta">
                <small>DETALHES PROPOSTA</small>
                Fornecedor: {{ proposta.fornecedor }}
            </div>
            <div class="mt-2">
                <a [routerLink]="backLink" class="d-inline-flex fs-12 align-items-center btn-action">
                    <i class="ta-sync fs-22 mr-2"></i>
                    <span> Voltar para meu painel de projetos </span>
                </a>
            </div>
        </div>
    </div>
</app-sidebar>
